@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
#top a {
  display: flex;
  text-align: right;
  text-decoration: none;
  color: #fff;
  padding: 0.5rem;
  margin-left: 1px;
  font-weight: 800;
  padding-right: 55px;
  border-radius: 0.5rem;
}
* {
  font-family: "Montserrat", sans-serif;
}

body {
  background: url("planet.png") no-repeat;
  background-size: cover;
}

#top {
  background-color: #9c2a3b;
}

#top a:hover {
  color: black;
}

.navbar-nav .nav-item .active {
  background-color: black;
}

img {
  width: 50px;
  height: 50px;
}
